

.about-cards {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
}

.about-card {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    border: 1px solid  rgba(255, 255, 255, 0.3);
}

.about-card:hover {
    background: transparent;
}

.about-card h4 {
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
}

.about-card p {
    font-size: 0.9rem;
    font-weight: lighter;
}